<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "jp" }}">

  {%- include head.html -%}

  <body>

    {%- include header-events.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <div class="home">
          <div style="text-align: center">
            <img src="{{site.baseurl}}/images/mv2.webp" alt="ロゴ" title="ロゴ" >
          </div>
          <div class="space"> </div>

          {{ content }}
        
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

